<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deletar</title>
    {% for i in dados%}
    
            <form action="/deletar" method="post">
                <input type="hidden" name="post-excluir" value="{{i[1]}}">
                <p><a href="#">{{i[0]}}</a> <br> {{i[1]}}</p>
                <input type="submit" value="Excluir">
            </form>

        {%endfor%}
</head>
<body>
    
</body>
</html>